<div>test</div>
<form name="contactformSS" onsubmit="contactSubmit()">
            <input type="email" name="email" placeholder="email">
            <input type="number" name="number" placeholder="number">
            <textarea name="message" cols="20" rows="10"></textarea>
            <input type="submit" va lue="submit">

        </form>
            
            <h1> Katron Franklin</h1>
            <h2> cell:(314)-665-6613</h2>
            <h3> email:kafranklin2018@gmail.com</h3>
            <h4> I can be reached much faster from my cell (314)-665-6613 also texted
            <h5> feel free to ask any question you may have or any concern.   
            </h5>
    </body>